<launch>

  <node pkg="alligator" name="jetcam_capture_node" type="image_publisher"/>

  <!-- <node name="image_view" pkg="image_view" type="image_saver" respawn="false">
    <remap from="image" to="/jetcam/image" />
    <param name="filename_format" value="/home/boo/proj/roscol/captures/img%04i.%s"/>
    <param name="save_all_image" value="false"/>
  </node> -->

  <node pkg="alligator" name="video_writer_node" type="video_writer"/>

</launch>